*,
*::before,
*::after {

  box-sizing: border-box;

}
 /* įtraukia padding į elemento vidų, nesiskaičiuoja papildomai. Ši taisyklė taiko visiem elementam*/

.big-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 100%;
  column-gap: 30px;
}

.all-shops {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
}

.shops-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.shop {
  padding: 15px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.contacts {
  list-style-type: none;
  padding-left: 0;
}

.contacts .item .link {
  text-decoration: none;
}

span {
  font-weight: bolder;
}

.container-2 {
  width: 100%;
  display: block;
}

.container-2 iframe{
  width: 100%;
}




/* DESKTOP FIRST pavyzdys */

@media screen and (max-width: 999px) {
  .all-shops{
    width:60%
  }

  .container-2 {
    width: 40%;
  }

  .shop{
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
}
@media screen and (max-width: 299px) {
}

/* MOBILE first pavyzdys */
@media screen and (min-width: 300px) {
}
@media screen and (min-width: 500px) {
}
@media screen and (min-width: 800px) {
}